.bg {
  height: 85%;
  /* background: url("../../icons/chatbg.png"); */
  background: #555454;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.messageBox {
  position: relative;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 5px 5px;
  color: white;
  display: inline-block;
  min-width: 20%;
  max-width: 75%;
  max-height: 100%;
  border: none;
  overflow: hidder;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  /* font-size: 1.1em; */
  word-wrap: break-word;
  text-decoration: none;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  /* position: relative; */
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #ffffff;
  letter-spacing: 0.3px;
  z-index: 2;
}

/* .pl-10 {
  padding-left: 10px;
} */

/* .pr-10 {
  padding-right: 10px;
} */

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.greenName {
  color: #34c18e;
}

.backgroundBlue {
  background: #00bfa5;
}

.backgroundGreen {
  background: #262d31;
}

.sentImage {
  height: 100px;
  width: auto;
}

.mainMessage {
  z-index: 4;
}

/* .top {
  margin-top: 11px;
} */

.tri-right.left-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  /* right: auto; */
  top: 0px;
  /* bottom: auto; */
  border: 10px solid;
  border-color: #262d31 transparent transparent transparent;
}

.tri-right.right-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -9px;
  /* right: auto; */
  top: 0px;
  /* bottom: auto; */
  border: 10px solid;
  border-color: #00bfa5 transparent transparent transparent;
}

.stickerBox {
  /* position: relative; */
  background: #13ca22;
  border-radius: 10px;
  padding: 5px 5px;
  color: white;
  /* display: inline-block; */
  max-width: 40%;
}

.stickerMessage {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  flex-direction: column;
  /* justify-content: center; */
}

.stickerBoxSent {
  /* position: relative; */
  background: #00bfa5;
  border-radius: 10px;
  padding: 5px 5px;
  color: white;
  /* display: inline-block; */
  max-width: 37.5%;
  max-height: 37.5%;
  justify-content: flex-end;
}

.stickerMessageSent {
  /* display: flex; */
  position: relative;
  justify-content: flex-end;
  /* padding: 0 5%; */
  margin-top: 3px;
  flex-direction: column;
  /* justify-content: center; */
  transform: translateX(55%);
}

.repliedMessage {
  background-color: #666666;
  padding: 10px;
  border-radius: 10px;
}
